.Top{
    background: black;
    background-size: cover;
    text-align: justify-all;
    flex-direction: row;
    flex: auto;
    display: flex;
    justify-content: space-evenly;
}
.TopButtons{
    background: black;
    color: yellow;
    font-family: Arial, Serif;
    border-style: hidden;
    font-size: 25px;

}
.TopButtons:hover{
    border-style: solid;
    border-color: yellow;
}