@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
h2.headersInAboutUs
{
    font-size: 50px;
    color: yellow;
    text-align: center;
}

img.styleForImgInAboutUs
{
    width: 100%;
    background-color: #6AA84F;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .form-container, .explanation-container {
        margin-bottom: 20px;
    }

    .lead {
        font-size: 1rem;
    }

    .navbar-nav {
        text-align: center;
    }
}

button.styleForButtonInAboutUsLeft
{
    background-color: #6AA84F;
    padding: 0px;

    border: 3px solid white;
    border-radius: 10px;

    margin-bottom: 5%;
    margin-top: 5%;
    animation: slideInFromRight 5s forwards;
}

button.styleForButtonInAboutUsRight
{
    background-color: #6AA84F;
    padding: 0px;

    border: 3px solid white;
    border-radius: 10px;

    margin-top: 5%;
    margin-bottom: 5%;
    animation: slideInFromLeft 5s forwards;
}

button.styleForButtonInAboutUsRight, button.styleForButtonInAboutUsLeft
{
    pointer-events: none;
    cursor: default;
}


p.styleForPInAboutUs
{
    color: #F9F4E6;

    font-size: larger;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
}

table.tableStyleInAboutUs
{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

p.styleForPInAboutUsWritingTextLeft
{
    font-size: larger;
    padding-left: 5%;
    text-align: left;
    animation: slideInFromRight 5s forwards;
}

p.styleForPInAboutUsWritingTextRight
{
    font-size: larger;
    padding-right: 5%;
    text-align: right;
    animation: slideInFromLeft 5s forwards;
}

td.heightAndWidthForTdInAboutUs
{
    width: 15%;
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toFixflex{
    justify-items: left;
}

.picture{
    width: 70%; !important;
    height: auto;
    margin-bottom: 20px;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Priorität vor anderen Elementen */
}

.menu-button-wrapper {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.title {
    flex: 1;
    text-align: center;
    font-size: 3em;
    color: yellow;
    margin: 0;
}

.li-items-in-sidebar {
    margin-left: 5%;
}




a.hover-effects {
    font-size: medium;
    color: white;
}

a.hover-effects:hover {
    color: #6AA84F;
}



@keyframes transition-color-in-nav {
    from
    {
        background: black;

    }
    to
    {
        background: linear-gradient(90deg, #A2D2FF, #BDE0FE); /* Gradient-Farben */
        -webkit-background-clip: text; /* Clippt den Hintergrund auf den Text */
        -webkit-text-fill-color: transparent; /* Macht den Text selbst transparent */
    }
}



.changeColor{
    filter: invert(1);
}



h1.h1-in-about-us
{

    text-align: center;
    margin-top: 7%;
    font-size: calc(2.5rem + 1vw);
    font-weight: bold;
    color: #6AA84F;
}

@media (max-width: 768px) {
    body{
        padding-top: 8%;
    }
}

.text-color
{
    color: #4A4A4A;
}

.contrast
{
    background-color: #2A1A14;
}

a.textInNavBar {
    color: #F6E8D5;
    font-size: large;
}

a.textInNavBar:hover {
    color: #6AA84F;
    transition: color 0.3s ease;
}

footer {
    background-color: #8B5A2B;
    color: #F6E8D5;
    padding: 20px 0;
    border-radius: 10px;
}

footer h5.text-in-fotter {
    color: #F6E8D5;
    font-size: 1.5rem;
}

footer a {
    color: #A2C4C9;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #F6E8D5;
}