.Top {

    background: black;
    background-size: auto;
    text-align: justify-all;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121212;
}
.index{

    background-size: cover;
}


.TopButtons {
    background: black;
    color: yellow;
    font-family: Arial, serif;
    border-style: hidden;
    font-size: 25px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-image: linear-gradient(to right, yellow 50%, black 50%); /* Gradient von Gelb zu Schwarz */
    background-size: 200% 100%; /* Vergrößert das Hintergrundbild für die Animation */
    background-position: right bottom; /* Startet den Hintergrund ganz rechts */
    transition: background-position 0.75s ease, color 1s ease; /* Übergang der Hintergrundposition */
}

.TopButtons:hover {
    background-position: left bottom; /* Bewegt den Farbverlauf nach links */
    color: black; /* Ändert die Textfarbe auf Schwarz */

}


.vertikalLine{
    width: 3px;
    height: 100%;
    margin: 0px 10px;
    background-color: yellow;

}
.custom-container{
    display: flex;
    align-items: center;
    height: 50px;

}
.MainPage.picture{
    max-width: 100%;

}
.images{

    padding: 150px;
    position: relative;
    overflow: hidden;


}
.MainPage{
    display: flex;
    flex-direction: column;

}

.headersTop{
    color: yellow;
    font-weight: bold;
    font-family: Arial, serif;
    font-style: normal;
    text-decoration: underline;
    font-size: 50px;
}



.horizontalYellowLine{
    width: 100%;
    height: 1px;
    background-color: yellow;
}

.logo{
    display: flex;
    padding: 0px;
    top: 10px;
}



#headlinetrans{
    position: relative;
    overflow: hidden;
    height: 20vh;
    width: 100%;
    font-family: Arial, sans-serif;
}

.headLine {

    top: 10%;
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px 5px rgba(204, 153, 0, 0.8);
    text-transform: uppercase;
    font-size: 300%;
    font-weight: bold;

<!--animation: flyIn 2s ease-out forwards;-->
}



.homeButton-wrapper {
    width: 20px;  /* Erhöhe die Breite des Buttons */
    height: 20px; /* Erhöhe die Höhe des Buttons */
    display: inline-block;
    position: relative;
}
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121212;
}

.homeButton {
    background-image: url("icones/iconizer-bxs-home.svg");
    padding: 20px; /* Erhöhe das Padding für einen größeren Button */
    margin: 10px;  /* Behalte einen kleineren Abstand nach außen */
    background-repeat: no-repeat;
    background-color: black;
    border-style: hidden;
    background-size: contain; /* Bild wird skaliert, um in den Button zu passen */

}

.homeButton:hover {
    transition: background-color 0.75s ease, color 1s ease;
    background-image: url("icones/bxs-home.svg");
    background-color: yellow;
    background-repeat: no-repeat;
}

h1.styleForHeader
{
    flex-grow: 1.5;
    color: yellow;
    text-align: center;
    font-size: 75px;
    text-decoration: underline;
    font-family: Arial, serif;
    animation: slideInFromBottom 4s forwards;
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }

}




.shop-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.item1{
    padding: 3%;
    border: 4px solid whitesmoke;
    width: 10%;
    height: 5%;


}

.item2{
    padding: 3%;
    border: 4px solid whitesmoke;

    width: 10%;
    height: 5%;

}
.item3{
    padding: 3%;
    border: 4px solid whitesmoke;

    width: 10%;
    height: 5%;
}
#searchButton{
    border-radius: 20px;
}
#searchInput{
    border-radius: 20px;
}
.search{
    left: 90%;
}