#titleNutrition
{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 0%

}

#titleNutritionText
{
    text-align: center;
    color: yellow;
    font-family: "Colonna MT", serif;
    font-size: 5rem;
}

body{
    background-color: black
}