
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121212;
}



.vertikalLine{
    width: 3px;
    height: 100%;
    margin: 0px 10px;
    background-color: yellow;

}
.custom-container{
    display: flex;
    align-items: center;
    height: 50px;

}
.MainPage.picture{
    max-width: 100%;

}
.images{

    padding: 150px;
    position: relative;
    overflow: auto;


}
.top-search-products{
    display: flex;
    flex-direction: column;

}
.fixed-top-bar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: #121212;
    z-index: 999;
    width: 100%;
    border-bottom: 5px solid yellow;
}
.MainPage{
    display: flex;
    flex-direction: column;

}
.page-header{
    font-size: 400%;
    color: yellow;
    font-weight: bold;
    text-decoration: underline;
    font-family: Arial, serif;
    text-align: center;

}

.inputSearch{
    width: 10%;
    height: 5%;
    margin-top: 2%;
    margin-right: 2%;
    font-size: 100%;
    border-radius: 5%;

}

.image-container{
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.headersTop{
    color: yellow;
    font-weight: bold;
    font-family: Arial, serif;
    font-style: normal;
    text-decoration: underline;
    font-size: 50%;
    margin-left: 80% !important;
}

.image-container img{
    margin-top: 7%;
    width: 85%;
    height: 50%;
    border-radius: 3%;

}
.shopping-cart{
    color: yellow;
    text-align: right;
    margin-left: 50%;
    margin-right: 0;
}

.image-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

}

.picture-header{
    font-size: 4rem !important;
    color: yellow;

}

.horizontalYellowLine{
    width: 100%;
    height: 1px;
    background-color: yellow;
}

.logo{
    display: flex;
    padding: 0px;
    top: 10px;
}



#headlinetrans{
    position: relative;

    height: 20vh;
    width: 100%;
    font-family: Arial, sans-serif;
}

.headLine {

    top: 10%;
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px 5px rgba(204, 153, 0, 0.8);
    text-transform: uppercase;
    font-size: 300%;
    font-weight: bold;

<!--animation: flyIn 2s ease-out forwards;-->
}




html, body{
    margin: 0;
    padding: 0;

    background-color: #121212;
}

.toFixflex{
    justify-items: left;
}
.homeButton-wrapper:hover .sidebar {
    transform: translateX(90%); /* Slide the sidebar into view */
}
.nav-link .icon {
    width: 20%;
    height: auto;
}
.nav-link{

}
.homeButton {
    padding: 20px;
    width: 20%;
    height: 20%;
    margin: 10px;
    background-image: url("icones/iconizer-bxs-home.svg");
    background-repeat: no-repeat;
    background-color: #121212;
    border-style: hidden;
    background-size: contain;


    .homeButton-wrapper {
        width: 20px;  /* Erhöhe die Breite des Buttons */
        height: 20px; /* Erhöhe die Höhe des Buttons */
        display: inline-block;
        position: relative;
    }
}
.picture{
    width: 70%; !important;
    height: auto;
    margin-bottom: 20px;
}

.nav-link:hover{
    transition: background-color 0.75s ease, color 1s ease;

    background-color: darkgray;
    background-repeat: no-repeat;
}

.sidebar {
    position: fixed;
    top: 0;
    background-color: #1E1E1E;
    left: -250px;
    width: 250px;
    z-index: 1050;
    height: 100%;
    transition: transform 1s ease-in-out;
}

h1.styleForHeader
{
    flex-grow: 1.5;
    clear: left;
    color: yellow;
    text-align: center;
    font-size: 75px;
    text-decoration: underline;
    font-family: Arial, serif;

}



.img-compress {
        object-fit: contain;
        height: 150px;
        width: 100%;
    }


.card {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.shop-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    clear: left;
}
.item1{
    padding: 3%;
    border: 4px solid whitesmoke;
    width: 10%;
    height: 5%;


}

.item2{
    padding: 3%;
    border: 4px solid whitesmoke;

    width: 10%;
    height: 5%;

}
.item3{
    padding: 3%;
    border: 4px solid whitesmoke;

    width: 10%;
    height: 5%;
}
#searchButton{
    border-radius: 20px;
}
#searchInput{
    border-radius: 20px;
}
.search{
    left: 90%;
}

li.li-items-in-sidebar
{
    margin-left: 5%;
}




a.text-in-sidebar
{
    color: white;
    font-size: large;
    font-family: Arial, serif;

    background-image: linear-gradient(to left, yellow 50%, black 50%); /* Gradient von Gelb zu Schwarz */
    background-size: 200% 100%; /* Vergrößert das Hintergrundbild für die Animation */
    background-position: left bottom; /* Startet den Hintergrund ganz rechts */
    transition: background-position 1s ease, color 1s ease; /* Übergang der Hintergrundposition */
}

a.text-in-sidebar:hover
{
    background-position: right bottom; /* Bewegt den Farbverlauf nach links */
    color: black; /* Ändert die Textfarbe auf Schwarz */
}

