h2.headersInAboutUs
{
    font-family: Arial, serif;
    font-size: 50px;
    color: yellow;
    text-align: center;
    clear: left;
}

img.styleForImgInAboutUs
{
    width: 100%;
    background-color: black;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.toFixflex{
    justify-items: left;
}
.homeButton-wrapper:hover .sidebar {
    transform: translateX(90%); /* Slide the sidebar into view */
}
.nav-link .icon {
    width: 20%;
    height: auto;
}
.nav-link{

}
.homeButton {
    padding: 20px;
    width: 20%;
    height: 20%;
    margin: 10px;
    background-image: url("icones/iconizer-bxs-home.svg");
    background-repeat: no-repeat;
    background-color: black;
    border-style: hidden;
    background-size: contain;


    .homeButton-wrapper {
        width: 20px;  /* Erhöhe die Breite des Buttons */
        height: 20px; /* Erhöhe die Höhe des Buttons */
        display: inline-block;
        position: relative;
    }
}
.picture{
    width: 70%; !important;
    height: auto;
    margin-bottom: 20px;
}

.nav-link:hover{
    transition: background-color 0.75s ease, color 1s ease;

    background-color: darkgray;
    background-repeat: no-repeat;
}

.sidebar {
    position: fixed;
    top: 0;
    background-color: #1E1E1E;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: transform 1s ease-in-out;
    z-index: 2;
}

button.styleForButtonInAboutUsLeft
{
    background-color: black;
    padding: 0px;
    margin: 0px;
    border: 3px solid white;
    border-radius: 10px;
    transition: 3s border;

    animation: slideInFromRight 5s forwards;
}


button.styleForButtonInAboutUsRight
{
    background-color: black;
    padding: 0px;
    margin: 0px;
    border: 3px solid white;
    border-radius: 10px;
    transition: 3s border;

    animation: slideInFromLeft 5s forwards;
}
button.styleForButtonInAboutUsLeft:hover, button.styleForButtonInAboutUsRight:hover
{
    border: 3px solid yellow;
}

p.styleForPInAboutUs
{
    color: white;
    font-family: Arial, serif;
    font-size: medium;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;


}

table.tableStyleInAboutUs
{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

}
p.styleForPInAboutUsWritingTextLeft
{
    color: white;
    font-family: Arial, serif;
    font-size: larger;
    padding-left: 5%;
    text-align: left;
    animation: slideInFromRight 5s forwards;
}


p.styleForPInAboutUsWritingTextRight
{
    color: white;
    font-family: Arial, serif;
    font-size: larger;
    padding-right: 5%;
    text-align: right;
    animation: slideInFromLeft 5s forwards;
}

td.heightAndWidthForTdInAboutUs
{
    width: 15%;
}



@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

li.li-items-in-sidebar
{
    margin-left: 5%;
}




a.text-in-sidebar
{
    color: white;
    font-size: large;
    font-family: Arial, serif;

    background-image: linear-gradient(to left, yellow 50%, black 50%); /* Gradient von Gelb zu Schwarz */
    background-size: 200% 100%; /* Vergrößert das Hintergrundbild für die Animation */
    background-position: left bottom; /* Startet den Hintergrund ganz rechts */
    transition: background-position 1s ease, color 1s ease; /* Übergang der Hintergrundposition */
}

a.text-in-sidebar:hover
{
    background-position: right bottom; /* Bewegt den Farbverlauf nach links */
    color: black; /* Ändert die Textfarbe auf Schwarz */
}
