body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.homeButton-wrapper:hover .sidebar {
    transform: translateX(250px);
}

.nav-link .icon {
    width: 20%;
    height: auto;
}

.homeButton {
    padding: 20px;
    width: 20%;
    height: 20%;
    margin: 10px;
    background-image: url("icones/iconizer-bxs-home.svg");
    background-repeat: no-repeat;
    background-color: black;
    border-style: hidden;
    background-size: contain;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: black;
    transition: transform 0.5s ease-in-out;
    padding-top: 60px;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

h2 {
    color: #FFD700;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

li ul {
    margin-left: 20px;
}

.container {
    max-width: 960px;
}

@media (max-width: 768px) {
    .col-lg-8 {
        width: 100%;
    }

    .col-lg-4 {
        width: 100%;
        margin-top: 20px;
    }
}