@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F9F4E6;
}

html {
    font-family: Arial, sans-serif;
}

.changeColor {
    filter: invert(1);
}

/* Responsiveness */
.container {
    padding: 20px;
}

@media (max-width: 768px) {
    .form-container, .explanation-container {
        margin-bottom: 20px;
    }

    .h1 {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    .navbar-nav {
        text-align: center;
    }
}

/* Tabellenstile für den Trainingsplan */
.table th, .table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
    color: #4A2C2A; /* Braun wie die Navbar */
    background-color: #F6E8D5; /* Neuer Hintergrund für alle Zeilen */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F6E8D5; /* Einheitlicher Hintergrund */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #F6E8D5; /* Einheitlicher Hintergrund für gerade Zeilen */
}

.table thead th {
    background-color: #6AA84F;
    color: #F6E8D5;
}

footer {
    color: #F6E8D5;
    padding: 20px 0;
    border-radius: 10px;
}

footer h5.text-in-fotter {
    color: #F6E8D5;
    font-size: 1.5rem;
}

footer a {
    color: #A2C4C9;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #F6E8D5;
}

.contrast {
    background-color: #2A1A14;
}

.text-color {
    color: #4A4A4A;
}

a.textInNavBar {
    color: #F6E8D5;
    font-size: large;
    font-family: Arial, sans-serif;
}

a.textInNavBar:hover {
    color: #6AA84F;
    transition: color 0.3s ease;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

a.hover-effects {
    font-size: medium;
    color: white;
    font-family: Arial, sans-serif;
}

a.hover-effects:hover {
    color: #6AA84F;
}

@keyframes change-font-size {
    from {
        font-size: medium;
    }
    to {
        font-size: large;
    }
}

.title-disabled-old {
    font-size: calc(2.5rem + 1vw);
    font-weight: bold;
    color: #6AA84F;
    font-family: Arial, sans-serif;
}
