.Top{

    background: black;
    background-size: auto;
    text-align: justify-all;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
html, body{
    margin: 0;
    padding: 0;
}

.TopButtons {
    background: black;
    color: yellow;
    font-family: Arial, serif;
    border-style: hidden;
    font-size: 25px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-image: linear-gradient(to right, yellow 50%, black 50%); /* Gradient von Gelb zu Schwarz */
    background-size: 200% 100%; /* Vergrößert das Hintergrundbild für die Animation */
    background-position: right bottom; /* Startet den Hintergrund ganz rechts */
    transition: background-position 0.75s ease, color 1s ease; /* Übergang der Hintergrundposition */
}

.TopButtons:hover {
    background-position: left bottom; /* Bewegt den Farbverlauf nach links */
    color: black; /* Ändert die Textfarbe auf Schwarz */

}



.vertikalLine{
    width: 3px;
    height: 100%;
    margin: 0px 10px;
    background-color: yellow;

}
.container{
    display: flex;
    align-items: center;
    height: 50px;

}
.MainPage.picture{
    max-width: 100%;

}
.images{


    padding: 150px;
    position: relative;
    overflow: hidden;


}

.headersTop{
    color: yellow;
    font-weight: bold;
    font-family: Arial, serif;
    font-style: normal;
    text-decoration: underline;
    font-size: 50px;
}





.svg{

    width: 80px;
    height: 80px;


}


.horizontalYellowLine{
    width: 100%;
    height: 1px;
    background-color: yellow;
}

.logo{
    display: flex;
    padding: 0px;
    top: 10px;
}


.listObjectsAboutUs{
    font-size: 20px;
    color: yellow;
    font-weight: bold;
    font-family: Arial, serif;
}
.homeButton-wrapper {
    width: 20px;  /* Erhöhe die Breite des Buttons */
    height: 20px; /* Erhöhe die Höhe des Buttons */
    display: inline-block;
    position: relative;
}

.homeButton {
    background-image: url("icones/iconizer-bxs-home.svg");
    padding: 20px; /* Erhöhe das Padding für einen größeren Button */
    margin: 10px;  /* Behalte einen kleineren Abstand nach außen */
    background-repeat: no-repeat;
    background-color: black;
    border-style: hidden;
    background-size: contain; /* Bild wird skaliert, um in den Button zu passen */

}



.homeButton:hover {
    transition: background-color 0.75s ease, color 1s ease;
    background-image: url("icones/bxs-home.svg");
    background-color: yellow;
    background-repeat: no-repeat;
}




.logoInAboutUs{
    float: right;

    padding: 10em;

}



.headersInAboutUs{
    text-align: center;
    color: yellow;
    font-family: "Colonna MT", serif;
    font-size: 50px;
    font-weight: bold;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 50px;
}

.headLine {
    position: absolute;
    top: 10%;
    left: -100%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px rgba(204, 153, 0, 0.8);
    text-transform: uppercase;
    font-size: 300%;
    font-weight: bold;
    opacity: 0;
    transition: all 1s ease-in-out;
    animation: flyIn 2s ease-out forwards;
}
@keyframes flyIn {
    0% {
        left: -100%;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.quote2{
    text-align: center;
    color: black;
    text-transform: uppercase;
}


.borderStyle
{
    border: 5px solid lightgrey;
    border-radius: 10px;
    border-collapse: collapse;
}

/* Animation für das Einfliegen von links (Bilder) */
@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation für das Einfliegen von rechts (Texte) */
@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Stile für die Bilder */
td img {
    animation: slideInFromLeft 3s ease-out;
    /* Leichte Verzögerung hinzufügen, wenn gewünscht */
}

/* Stile für die Text-Spalten */
td + td {
    animation: slideInFromRight 3s ease-out;
    /* Leichte Verzögerung hinzufügen, wenn gewünscht */
}

button.styleForButtonInAboutUsLeft {
    border: 3px solid white;
    padding: 0%;
    background-color: black;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    color: black;
    animation: slideInFromLeft 3s forwards;
    transition: color 3s, border 3s;
    margin-left: 20%;

}

button.styleForButtonInAboutUsRight
{
    border: 3px solid white;
    padding: 0%;
    background-color: black;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    color: black;
    animation: slideInFromLeft 3s forwards;
    transition: color 3s, border 3s;
    margin-right: 20%;
}


button.styleForButtonInAboutUsLeft:hover, button.styleForButtonInAboutUsRight:hover {
    color: white;
    border: 4px solid yellow;
}



img.styleForImageInAboutUs
{
    padding: 0%;
    margin: 0%;
    width: 100%;
    overflow: auto;
    animation: slideInFromLeft 3s forwards;
}



pre.styleForPreInAboutUs {

    margin: 0%;
    font-size: 100%;

    font-family: Arial, serif;
    width: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
    animation: slideInFromLeft 3s forwards;
    color: white;
    font-family: Arial, serif;
}




table#tableInAboutUs
{
    table-layout: fixed;
    width: 100%;
}


td.styleForTdInAboutUsLeftPicture
{

    text-align: left;

}

td.styleForTdInAboutUsRightText
{

    text-align: left;


}

#headlinetrans{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}



