.Top{

    background: black;
    background-size: auto;
    text-align: justify-all;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.TopButtons {
    background: black;
    color: yellow;
    font-family: Arial, serif;
    border-style: hidden;
    font-size: 25px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-image: linear-gradient(to right, yellow 50%, black 50%); /* Gradient von Gelb zu Schwarz */
    background-size: 200% 100%; /* Vergrößert das Hintergrundbild für die Animation */
    background-position: right bottom; /* Startet den Hintergrund ganz rechts */
    transition: background-position 0.75s ease, color 1s ease; /* Übergang der Hintergrundposition */
}

.TopButtons:hover {
    background-position: left bottom; /* Bewegt den Farbverlauf nach links */
    color: black; /* Ändert die Textfarbe auf Schwarz */

}



.vertikalLine{
    width: 3px;
    height: 100%;
    margin: 0px 10px;
    background-color: yellow;

}
.container{
    display: flex;
    align-items: center;
    height: 50px;

}
.MainPage.picture{
    max-width: 100%;

}
.images{

    padding: 150px;
    position: relative;
    overflow: hidden;


}

.headersTop{
    color: yellow;
    font-weight: bold;
    font-family: Arial, serif;
    font-style: normal;
    text-decoration: underline;
    font-size: 50px;
}

.svg{

    width: 80px;
    height: 80px;


}


.horizontalYellowLine{
    width: 100%;
    height: 1px;
    background-color: yellow;
}

.logo{
    display: flex;
    padding: 0px;
    top: 10px;
}



#headlinetrans{
    position: relative;
    overflow: hidden;
    height: 20vh;
    width: 100%;
}

.headLine {

    top: 10%;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px rgba(204, 153, 0, 0.8);
    text-transform: uppercase;
    font-size: 300%;
    font-weight: bold;

    <!--animation: flyIn 2s ease-out forwards;-->
}

@keyframes flyIn {
    0% {
        left: -100%;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.quote2{
    position: absolute;
    left: -100%;
    text-align: left;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    transform: translateX(0);
    font-family: "Georgia";

}

.quote3{
    position: absolute;
    right: -100%;
    margin: 5%;
    top: 70%;
    text-align: right;
    color: #555;
    overflow: hidden;
    transform: translateX(0);
    white-space: nowrap;
    text-transform: uppercase;
    font-family: "Georgia";


}
.quote4{
    position: absolute;
    left: -100%;
    top: 60%;
    margin: 5%;
    text-align: left;
    transform: translateX(0);
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: "Georgia";

}

.quote5{
    position: absolute;
    right: -100%;
    top: 45%;
    margin: 5%;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    color: #555;
    transform: translateX(0);
    text-transform: uppercase;
    font-family: "Georgia";

}


@keyframes flyInFromRight {
    0%{
        right: -100%;
        opacity: 0;
    }
    20%,80% {
        right: 50%;
        opacity: 1;
        transform: translate(50%, 50%);
    }
    100% {
        right: 150%;
        opacity: 0;
        transform: translate(50%, 50%);
    }
}
@keyframes flyInFromLeft {
    0% {
        left: -100%;
        opacity: 0;
    }
    20%,80% {
        left: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    100% {
        left: 150%;
        opacity: 0;
        transform: translate(-50%, -50%);
    }

}





.quote2:nth-of-type(4n-3) {
    animation: flyInFromLeft 8s infinite ease-in-out forwards;
    animation-delay: 0s;
}
.quote3:nth-of-type(4n-2) {
    animation: flyInFromRight 8s infinite ease-in-out forwards;
    animation-delay: 2s;
}
.quote4:nth-of-type(4n-1) {
    animation: flyInFromLeft 8s infinite ease-in-out forwards;
    animation-delay: 4s;
}
.quote5:nth-of-type(4n) {
    animation: flyInFromRight 8s infinite ease-in-out forwards;
    animation-delay: 6s;
}






.borderStyle
{
    border: 5px solid lightgrey;
    border-radius: 10px;
    border-collapse: collapse;
}







.homeButton-wrapper {
    width: 20px;  /* Erhöhe die Breite des Buttons */
    height: 20px; /* Erhöhe die Höhe des Buttons */
    display: inline-block;
    position: relative;
}

.homeButton {
    background-image: url("icones/iconizer-bxs-home.svg");
    padding: 20px; /* Erhöhe das Padding für einen größeren Button */
    margin: 10px;  /* Behalte einen kleineren Abstand nach außen */
    background-repeat: no-repeat;
    background-color: black;
    border-style: hidden;
    background-size: contain; /* Bild wird skaliert, um in den Button zu passen */

}



.homeButton:hover {
    transition: background-color 0.75s ease, color 1s ease;
    background-image: url("icones/bxs-home.svg");
    background-color: yellow;
    background-repeat: no-repeat;
}





